.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 2rem; }
  .header__title {
    font-size: 1.5rem;
    font-weight: 700; }
  .header__switch-mode {
    font-size: 1.2rem; }
  .header__switch-mode:hover {
    cursor: pointer; }
  .header__border-line {
    border-bottom: 2px solid #f3efef; }

.countries {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem; }
  .countries__card {
    width: 18rem;
    margin: 1rem;
    border: .8px solid #ddd;
    border-radius: 3px; }
  .countries__flags {
    width: 100%;
    height: 10rem;
    border-radius: inherit; }
  .countries__details {
    padding: 0 2rem;
    color: #000; }
  .countries__link-component {
    text-decoration: none;
    color: inherit; }

.back__btn {
  margin: 3rem 4rem;
  font-weight: lighter; }
  .back__btn:hover {
    cursor: pointer; }
  .back__btn--icon {
    font-weight: bold;
    font-size: 1.2rem; }

.country {
  width: auto;
  margin: .5rem 4rem; }
  .country__card {
    display: flex; }
  .country__flag {
    width: 40%;
    height: 20rem; }
    .country__flag--img {
      width: 100%;
      height: 100%; }
  .country__details {
    padding: 0 6rem; }
    .country__details--span {
      font-weight: 700; }
